@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Poppins:wght@200&family=Roboto:ital,wght@0,400;1,300&display=swap');

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2em;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: 700;
  font-size: 42px;
}

img {
  object-fit: cover;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



.navbar {
  color: white;
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr 60px;
  grid-template-rows: auto;
  grid-template-areas: "logo text burger";
}

.img__navbar {
  display: flex;
  align-items: center;
  grid-area: logo;
  margin-left: 50px;
  cursor: pointer;
}

.navbar__text {
  display: flex;
  grid-area: text;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar__text p {
  margin-right: 10px;
  margin-left: 10px;
  letter-spacing: 7.725px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.youtube__i {
  display: flex;
  grid-area: burger;
  align-items: center;
  cursor: pointer;

}

.container-1 {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.text__h1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px;
  align-items: center;
}

.text__h1 h1 {
  color: #FFF;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 95px;
  margin-left: 50px;
}

.text__h3 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px;
  align-items: center;
}

.text__h3 h3 {
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  margin-left: 50px;
}

.video__active {
  display: grid;
  grid-template-columns: 98px 300px;
  justify-items: center;
  align-items: center;
  margin-left: 30px;
}

.bxl-youtube {
  color: #A1A8B6;
}

.video-active__text {
  color: #A1A8B6;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.social-network {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 380px 1fr;
  align-items: center;
}

.social-network__p p {
  color: #A1A8B6;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}

.social-network__p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-network__img {
  display: grid;
  grid-template-columns: 340px 340px 340px;
}

.main-social-network__img {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.number__img-1 {
  grid-area: number;
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  display: grid;
  align-items: center;
  margin: 0 0 0 20px;
}

.information__img-1 {
  grid-area: information;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: end;
  margin: 0 0 10px 20px;

}

.information__img-1 i {
  cursor: pointer;
}

.social-network__img-1 img {
  position: absolute;
  z-index: -1;
}

.social-network__img-1 {
  display: grid;
  grid-template-rows: 50px 150px;
  grid-template-columns: auto;
  grid-template-areas: "number" "information";
}

.information__img-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.social-network img {
  width: 285px;
  height: 200px;
  border-radius: 16px;
}

#icon__social {
  color: white;
  cursor: pointer;
}

.icon__social-network {
  display: flex;
  justify-content: space-between;
}

.first__img {
  margin-top: 200px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.first__img img {
  width: 600px;
  height: 400px;
  border-radius: 16px;
}

.text-img__1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.text-img__1 h2 {
  color: #000;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;

}

.text-img__1 p {
  display: flex;
  width: 491px;
  height: 322px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #6B6B6B;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.second-img {
  margin-top: 200px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.second-img img {
  width: 600px;
  height: 400px;
  border-radius: 16px;
}

.text-img__2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.text-img__2 h2 {
  color: #000;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;

}

.text-img__2 p {
  display: flex;
  width: 491px;
  height: 322px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #6B6B6B;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.container-3 {
  margin-top: 200px;
  background-color: #FCFCFC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.comments__text {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.comments img {
  width: 600px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 16px;
}

.container-4 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 1fr;
}

.h2-text {
  display: flex;
  justify-content: center;
}

.container-4__img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.container-4__img img {
  width: 488.499px;
  height: 475px;
  border-radius: 16px;
}

.container-5 {
  margin-top: 100px;
  background-color: #F8F8F8;
  display: grid;
  grid-template-columns: 300px 300px 300px 1fr;
  grid-template-rows: auto;
  height: 10vh;
  justify-items: center;
  align-items: center;
}

.logo {
  width: 160px;
  height: 35px;
}

.text-1__footer {
  margin: 0 16px 0 16px;
  color: #90A4B2;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.text-2__footer {
  margin: 0 16px 0 16px;
  color: #90A4B2;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

#icon__social-1 {
  color: #90A4B2;
  cursor: pointer;
}

#icon__social-1-media {
  color: #90A4B2;
  cursor: pointer;
}

.btn {
  border-style: solid;
  border-color: #DD9428;
  width: 260px;
  height: 100px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  align-items: center;
  transform: translate();
  transition: all 0.2s;
  cursor: pointer;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;

}

.btn:hover {
  background-color: #DD9428;
}

.btn span:hover {
  color: white;
}



.btn span {
  color: #DD9428;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: Montserrat;
  padding: 20px 45px 20px 40px;
  transform: translate();
  transition: all 0.2s;
}

.burger-menu {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
}

.nav-list {
  margin-top: 50px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.bx-menu {
  z-index: 1001;
}

.image {
  width: 20vw;
  height: 25vh;
}

.carusel {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 100px 0 0 0;
}

.carusel__item {
  display: grid !important;
  grid-template-columns: 386px;
  grid-template-rows: 1fr 130px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.image {
  border-style: solid;
  border-width: 2px;
  border-color: #DD9428;
  border-radius: 0 10px 0 10px;
  filter: drop-shadow(5px 5px 10px #DD9428);
}

.title {
    border-style: solid;
    border-width: 2px;
    border-color: #DD9428;
    padding: 2vh 10vw;
    border-radius: 0 10px 0 10px;
    background-color: #DD9428;
    filter: drop-shadow(5px 5px 10px #DD9428);
    transition: all 0.3s ease-in-out;
    color: #FFF;
    max-width: 8vw !important;
    display: flex;
    justify-content: center;
}

.title:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(.9);
}

.mg__1{
  width: 10px;
  height: 10px;
}

.slick-arrow{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.nav__open-click{
  background-color: #000;
  width: 99vw;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  transition: all 0.3s;
}

.navbar__text-open-click{
  color: #fff;
  letter-spacing: 7.725px;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.nav__open-click {
    display: none;

}

.show {
    transition: all 0.3s;
    display: grid !important;
    opacity: .8;
}